<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connection>
    <name>
      </name>felhLocal
    <server>
      127.0.0.1
    </server>
    <database>gastro
      </database>
    <UID>root
      </UID>
    <password>3306
      </password>
    <port>
      </port>
  </connection>
  <connection>
    <name>gastroLocal
      </name>
    <server>127.0.0.1
    </server>
    <database>gastro
    </database>
    <UID>root
    </UID>
    <password>
    </password>
    <port>3306
    </port>
  </connection>
</configuration>